.artist-image-bubble {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    background-color: aliceblue;
    position: absolute;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
}

.artist-image-bubble:nth-child(1) {
    top: 18%;
    left: 50%;
    background-image: url('../assets/artist-1.jpg');
}

.artist-image-bubble:nth-child(2) {
    top: 17%;
    left: 80%;
    background-image: url('../assets/artist-2.jpg');
}

.artist-image-bubble:nth-child(3) {
    top: 15%;
    right: 50%;
    background-image: url('../assets/artist-3.jpg');
}

.artist-image-bubble:nth-child(4) {
    top: 35%;
    left: 45%;
    background-image: url('../assets/artist-4.jpg');
}

.artist-image-bubble:nth-child(5) {
    top: 35%;
    right: -10%;
    background-image: url('../assets/artist-5.jpg');
}

.artist-image-bubble:nth-child(6) {
    top: 65%;
    left: 78%;
    background-image: url('../assets/artist-6.jpg');
}

.artist-image-bubble:nth-child(7) {
    top: 65%;
    right: 48%;
    background-image: url('../assets/artist-7.jpg');
}

.artist-image-bubble:nth-child(8) {
    top: 88%;
    left: 45%;
    background-image: url('../assets/artist-8.jpg');
}

.artist-image-bubble:nth-child(9) {
    top: 85%;
    right: 55%;
    background-image: url('../assets/artist-9.jpg');
}

.artist-image-bubble:nth-child(10) {
    top: 86%;
    left: 75%;
    background-image: url('../assets/artist-10.jpg');
}

.artist-image-bubble:nth-child(11) {
    top: 40%;
    left:18%;
    background-image: url('../assets/artist-11.jpg');
}

.artist-image-bubble:nth-child(12) {
    top: 70%;
    right: 23%;
    background-image: url('../assets/artist-12.jpg');
}

@keyframes bubble-effect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}